.page-content {
  padding-top: 25vh;
}
.article_nav_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.titre_article {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1vh;
}
.articles_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tousLesArticles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 2rem;
  max-width: 80%;
  align-items: center;
  justify-items: center;
}

.unArticle {
  box-shadow: 6px 6px 15px -9px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.unArticle_titre {
  height: 5vh;
}
.unArticle_titre,
.unArticle_prix {
  margin: 0;
  font-size: 1em;
}
.unArticle_img_hidden {
  display: none;
}
.unArticle_img_visible img {
  max-width: 100%;
}
.unArticle_loading_logo_visible {
  width: 25vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes toColor {
  0% {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  25% {
    -webkit-filter: grayscale(75%);
    filter: grayscale(75%);
  }
  50% {
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
  }
  75% {
    -webkit-filter: grayscale(25%);
    filter: grayscale(25%);
  }
  100% {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}
.unArticle_loading_logo_visible img {
  animation: toColor 1s;
}
.unArticle_loading_logo_visible img {
  max-width: 100%;
}
.unArticle_loading_logo_hidden {
  display: none;
}

.article_detail {
  display: flex;
  max-width: 80vw;

  justify-items: center;
  padding-top: 5vh;
}
.article_det_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.article_det_infos {
  width: 20vw;
}
.article_det_photos {
  width: 40vw;
}
.article_det_photos img {
  max-width: 100%;
}

.article_det_titre {
  text-transform: uppercase;
  color: #000;
  line-height: 2em;
  padding-right: 2vw;
  padding-left: 2vw;
  padding-bottom: 2vh;
}
.article_det-titre h2 {
  font-weight: 500;
}
.article_det_description {
  padding-right: 2vw;
  padding-left: 2vw;
  color: #000;
  letter-spacing: 0.05em;
}
.article_det_compo {
  padding-right: 2vw;
  padding-left: 2vw;
  margin-top: 5vh;
}
.article_det_ref {
  margin-top: 5vh;
  padding-right: 2vw;
  padding-left: 2vw;
}
.article_det_ref_span {
  font-weight: bold;
  padding-right: 0.5em;
}
.article_det_taille {
  width: 20vw;
  padding-right: 2vw;
  padding-left: 2vw;
}
.article_det_couleurs {
  margin-bottom: 5vh;
  padding-right: 2vw;
  padding-bottom: 2vw;
}
.article_det_couleurs_round {
  width: 2vw;
  height: 2vw;
  border-radius: 80%;
}
.article_det_size ul {
  display: flex;
  padding: 0;
}
.article_det_size_link_dispo {
  padding: 1vw;
  margin-right: 1vw;
  text-align: center;
  color: black;
}
.article_det_size_link {
  padding: 1vw;
  margin-right: 1vw;
  text-align: center;
  color: #c2c2c9;
}
.article_det_size_link_dispo:visited {
  text-decoration: underline;
}
.article_det_size_link_dispo:hover {
  text-decoration: underline;
}
.article_det_size_link_dispo:active {
  text-decoration: underline;
}

.article_det_prix h2 {
  font-weight: 500;
  padding-left: 1vw;
  margin-bottom: 10vh;
}

.article_det_ajout_panier_btn {
  background-color: black;
  color: white;
  border-color: black;
  width: 80%;
  height: 10vh;
  margin-left: 1vw;
}
hr {
  border-top: dotted 1.5px;
  border-bottom: hidden;
  border-right: hidden;
  border-left: hidden;
  margin-top: 3vh;
  margin-bottom: 5vh;
  color: grey;
}

.article_det_mobile {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 96vw;
  padding-left: 2vw;
  padding-right: 2vw;
}
.article_det_titre_mobile {
  text-transform: uppercase;
  color: #000;
  line-height: 2em;
  text-align: center;
  height: 12vh;
}

.article_det_ref_mobile {
  height: 5vh;
}

.article_det_photos_mobile {
  width: 90vw;
}

.article_det_photos_mobile img {
  max-width: 100%;
}

.article_det_couleurs_round_mobile {
  width: 5vw;
  height: 5vw;
  border-radius: 80%;
}
.article_det_size_mobile {
  display: flex;
}

.article_det_ajout_panier_mobile_btn {
  background-color: black;
  color: white;
  border-color: black;
  width: 90vw;
  height: 5vh;
  margin-left: 1vw;
  margin-bottom: 2vh;
}

.article_det_compo_mobile {
  margin-bottom: 10vh;
}
.article-det-linkhidden {
  display: none;
}
.article-det-linkvisible {
  display: visible;
  margin: 10px;
  font-size: 0.8em;
}
.article-det-linkvisible a {
  text-decoration: underline;
  font-weight: bold;
}
.article-det-linkvisible a:hover {
  color: grey;
  transform: scale(1.5);
}

@media only screen and (max-width: 1000px) {
  .article_detail {
    display: none;
  }

  .article_det_size_link {
    padding: 1vw;
    margin-right: 3vw;
  }
}

@media only screen and (min-width: 1000px) {
  .article_det_mobile {
    display: none;
  }
}
