.page-content {
  padding-top: 25vh;
}
.article_nav_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.titre_article {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1vh;
}
.articles_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tousLesArticles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 2rem;
  max-width: 80%;
  align-items: center;
  justify-items: center;
}

.unArticle {
  box-shadow: 6px 6px 15px -9px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.unArticle_titre,
.unArticle_prix {
  margin: 0;
  font-size: 1em;
}
.unArticle_img_hidden {
  display: none;
}
.unArticle_img_visible img {
  max-width: 100%;
}
.unArticle_loading_logo_visible {
  width: 25vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unArticle_loading_logo_hidden {
  display: none;
}

.article_detail {
  display: flex;
  max-width: 80vw;
  justify-items: center;
  padding-top: 5vh;
}
.article_det_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.article_det_infos {
  width: 20vw;
}

.article_det_photos_visible {
  width: 40vw;
}
.article_det_photos_visible img {
  max-width: 100%;
}
.article_det_photos_hidden {
  display: none;
}

.article_det_loading_logo_visible {
  width: 40vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article_det_loading_logo_hidden {
  display: none;
}

.article_det_titre {
  text-transform: uppercase;
  color: #000;
  line-height: 2em;
  padding-right: 2vw;
  padding-left: 2vw;
  padding-bottom: 2vh;
}
.article_det-titre h2 {
  font-weight: 500;
}
.article_det_description {
  padding-right: 2vw;
  padding-left: 2vw;
  color: #000;
  letter-spacing: 0.05em;
}
.article_det_compo {
  padding-right: 2vw;
  padding-left: 2vw;
  margin-top: 5vh;
}
.article_det_ref {
  margin-top: 5vh;
  padding-right: 2vw;
  padding-left: 2vw;
}
.article_det_ref_span {
  font-weight: bold;
  padding-right: 0.5em;
}
.article_det_taille {
  width: 20vw;
  padding-right: 2vw;
  padding-left: 2vw;
}
.article_det_couleurs {
  margin-bottom: 5vh;
  padding-right: 2vw;
  padding-bottom: 2vw;
}
.article_det_couleurs_round {
  width: 2vw;
  height: 2vw;
  border-radius: 80%;
}
.article_det_size ul {
  display: flex;
  padding: 0;
  text-transform: uppercase;
}
.article_det_size_link_dispo {
  padding: 1vw;
  margin-right: 1vw;
  text-align: center;
  color: black;
}
.article_det_size_link {
  padding: 1vw;
  margin-right: 1vw;
  text-align: center;
  color: #c2c2c9;
}
.article_det_size_link_dispo:visited {
  text-decoration: underline;
}
.article_det_size_link_dispo:hover {
  text-decoration: underline;
}
.article_det_size_link_dispo:active {
  text-decoration: underline;
}

.article_det_prix h2 {
  font-weight: 500;
  padding-left: 1vw;
  margin-bottom: 10vh;
}

.article_det_ajout_panier_btn {
  background-color: black;
  color: white;
  border-color: black;
  width: 80%;
  height: 10vh;
  margin-left: 1vw;
}
hr {
  border-top: dotted 1.5px;
  border-bottom: hidden;
  border-right: hidden;
  border-left: hidden;
  margin-top: 3vh;
  margin-bottom: 5vh;
  color: grey;
}

.article_det_mobile {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 96vw;
  padding-left: 2vw;
  padding-right: 2vw;
}
.article_det_titre_mobile {
  text-transform: uppercase;
  color: #000;

  text-align: center;
  height: 10vh;
  font-size: 0.8em;
}

.article_det_ref_mobile {
  height: 4vh;
  font-size: 0.8em;
}
.article_det_prix_mobile {
  font-size: 0.8em;
}

.article_det_photos_mobile {
  width: 90vw;
}

.article_det_photos_mobile img {
  max-width: 100%;
}

.article_det_couleurs_round_mobile {
  width: 5vw;
  height: 5vw;
  border-radius: 80%;
}
.article_det_size_mobile {
  display: flex;
}

.article_det_ajout_panier_mobile_btn {
  background-color: black;
  color: white;
  border-color: black;
  width: 90vw;
  height: 5vh;
  margin-left: 1vw;
  margin-bottom: 2vh;
}

.article_det_compo_mobile {
  margin-bottom: 10vh;
  font-size: 0.8em;
}
.article_det_description_mobile {
  font-size: 0.8em;
}
.article-det-linkhidden {
  display: none;
}
.article-det-linkvisible {
  display: visible;
  margin: 10px;
  font-size: 0.8em;
}
.article-det-linkvisible a {
  text-decoration: underline;
  font-weight: bold;
}
.article-det-linkvisible a:hover {
  color: grey;
  transform: scale(1.5);
}

@media only screen and (max-width: 768px) {
  .article_detail {
    display: none;
  }

  .article_det_size_link {
    padding: 1vw;
    margin-right: 3vw;
  }
  .page-content {
    padding-top: 22vh;
  }
  .titre_article {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 0;
  }
  .tousLesArticles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 2rem;
    max-width: 90%;
    align-items: center;
    justify-items: center;
  }

  .unArticle_loading_logo_visible {
    width: 80vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 768px) {
  .article_det_mobile {
    display: none;
  }
}
