.Footer {
  border-top: 1px solid #c2c2c9;
}
.Footer-icones-list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
}
.Footer-icones-element {
  padding: 10px;
}
.Footer-icones-list-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .Footer-icones-list {
    display: none;
  }
  .Footer-icones-list-mobile {
    display: flex;
    height: 5vh;
    align-items: center;
    justify-content: center;
    display: visible;
  }
}
