.icon-image {
  align-items: center;
  border: 4px solid;
  display: flex;
  height: 160px;
  width: 110px;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.icon-image img {
  height: 100%;
}

.icon-image .fa-cog {
  color: transparent;
  position: absolute;
  transition: color 0.3s ease-in;
}

.icon-image:hover .fa-cog {
  color: grey;
}

.icon-image:hover .fa-cog:hover {
  color: blue;
}
.is-hidden {
  display: none;
}

.is-clickable {
  cursor: pointer;
}
