.lookbook-gridcontainer {
  display: flex;
  max-width: 80%;
  margin-left: 10vw;
}
.lookbook-column {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 - 10px);
  margin: 0px auto;
}
.lookbook-column-div-image {
  padding: 0.5%;
}
.lookbook-column-image {
  max-width: 100%;
}
.page-content {
  padding-top: 25vh;
  padding-bottom: 2vh;
}
@media only screen and (max-width: 768px) {
  .page-content {
    padding-top: 22vh;
    padding-bottom: 2vh;
  }
}
