.header-navbar {
  border-bottom: 1px solid #c2c2c9;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: blanchedalmond;
}
.bandeau-pre-header {
  background-color: black;
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 9vh;
}
.bandeau-pre-header-txt {
  padding-right: 2vw;
  padding-left: 2vw;
  text-align: center;
  padding-bottom: 1vh;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  padding-left: 10vw;
  padding-right: 10vw;
}
.header-title {
  font-weight: 900;
  font-size: 0.8em;
  text-align: center;
  letter-spacing: 1em;
}
.header-subtitle {
  font-weight: normal;
  font-size: 0.5em;
}
.header-icons {
  display: flex;
  align-items: center;
}
.header-icons-list {
  display: flex;
  border: none;
  border-right: 1px solid #c2c2c9;
  margin: 0;
  padding: 0;
}
.header-icons-listelmt {
  padding-right: 2vw;
  padding-left: 2vw;
}
.header-icons-search-input input {
  border: none;
  background-color: blanchedalmond;
  border-bottom: 1px solid #c2c2c9;
}

.header-icons-search-input input:focus,
textarea {
  outline: none !important;
}

header-icons-search-link:hover {
  color: black;
}
.header-links-section {
  margin-right: 2vw;
  margin-left: 2vw;
  padding-bottom: 20px;
  padding-left: 8vw;
  padding-right: 8vw;
}
.header-links-section ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.header-link {
  padding-right: 20px;
  font-size: 0.9em;
  color: #414141;
}

.header-link-red {
  padding-right: 20px;
  font-size: 0.9em;
  color: red;
}

@media only screen and (max-width: 1000px) {
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .header-title {
    font-weight: 900;
    font-size: 0.6em;
    display: flex;
    text-align: center;
    letter-spacing: 1em;
  }
  .header-icons {
    display: none;
  }

  .header-link {
    padding-right: 10px;
    font-size: 0.9em;
    color: #414141;
  }

  .header-links-section {
    margin-right: 2vw;
    margin-left: 2vw;
    padding-bottom: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .bandeau-pre-header {
    background-color: black;
    font-size: 14px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 12vh;
  }
}
